--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0+cu124
torchvision==0.21.0+cu124
git+https://github.com/shahbuland/PerceptualSimilarity
torchmetrics
einops
ema-pytorch
vector-quantize-pytorch
ray
omegaconf
wandb
kornia
datasets
huggingface-hub
python-dotenv
alias-free-torch
git+https://github.com/sypsyp97/convnext_perceptual_loss
wandb[media]
rotary-embedding-torch
boto3
diffusers
pytorch-wavelets
pywavelets
accelerate
av